version: "3.8"

services:
  app:
    build: .
    container_name: demoweb-app
    ports:
      - "8080:8080"
    depends_on:
      - redis
    networks:
      - appnet

  redis:
    image: redis:alpine
    container_name: demoweb-redis
    networks:
      - appnet

networks:
  appnet:
